DATABASE_URL=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
CLIENT_ORIGIN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
TELEGRAM_BOT_TOKEN=
BOT_USERNAME=
RP_ID=
NODE_ENV=
PORT=9000
